@use 'base/variables' as v;
@use 'base/mixins' as m;

.global__container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img {
        // width: 100%;
        height: 100%;
        z-index: -10;
        @include m.desktop_1020 {
            width: 100%;
        }
    }
    .container__form {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        // z-index: 10;
    }
}

.formulario {
    background-color: #edf7fd;
    border-radius: 1rem;
    height: 75%;
    width: 30rem;
    display: grid;
    padding: 2rem 1rem;
    grid-template-rows: 5% 86% 9%;
    @include m.tablet_760 {
        width: 40rem;
    }
    @include m.desktop_1020 {
        width: 45rem;
    }
}

.formulario__title {
    // background-color: green;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    h3 {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        color: black;
        font-weight: bold;
        @include m.tablet_760 {
            font-size: 1.7rem;
        }
    }
}

.formulario__content {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    select {
        color: rgb(58, 57, 57);
    }
    .input__item {
        border-radius: .5rem;
        border: .2px solid black;
        height: 80%;
        background-color: transparent;
        padding-left: .6rem;
        font-family: Arial, Helvetica, sans-serif;
        &:focus {
            outline: none;
        }
        @include m.tablet_760 {
            font-size: 1.5rem;
        }
    }
    .disabled__item {
        background-color: rgb(228, 228, 228);
    }
}

.input__duo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3%;
    input {
        height: 80%;
        width: 100%;
    }
}

.formulario__bottom {
    // background-color: pink;
    display: grid;
    padding-top: .5rem;
    .form__button {
        border-radius: 1rem;
        border: 1px solid black;
        background-color: v.$secundario;
        cursor: pointer;
        h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.7rem;
            margin: 0;
            color: black;
            @include m.tablet_760 {
                font-size: 1.9rem;
            }
        }
    }
}
